
.nav{
    margin: 0;
    padding: 0;
    background: #444;
}
.nav ul{
    display: inline-flex;
    list-style: none;
    background-color: #444;
    text-align: center;
    margin: 0;
    padding: 0;  
}
.nav li{
    width: 150px;
    border: 1px;
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}
.nav a{
    text-decoration: none;
    color: #ff0000;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s;
}
.nav a:hover{
    background-color: #005f5f;

}
.nav a:active{
    background-color: #aaa;
    color: #444;
    cursor: default;
}

.nav li li {
    font-size: .8em;
}

.nav a{
    border-bottom: none;
}
.nav >ul>li{
    text-align: center;
}
.nav >ul>li>a{
    padding-left: 0;
}
.nav li ul{
    position: absolute;
    display: none;
    width: inherit;
}
.nav li:hover ul{
    display: block;
}

.nav li ul li{
    display: block;
}
