
    <div class="nav justify-content-center">
        <ul>
            <li class="home"><a href="#">home</a></li>
            <li class="tutu"><a href="#">tutu</a>
                <ul>
                    <li><a href="#">tutu</a></li>
                    <li><a href="#">tutu</a></li>
                    <li><a href="#">tutu</a></li>
                </ul>
            </li>
            <li class="home"><a href="#">home</a></li>
            <li class="tutu"><a href="#">tutu</a>
                <ul>
                    <li><a href="#">tutu</a></li>
                    <li><a href="#">tutu</a></li>
                    <li><a href="#">tutu</a></li>
                </ul>
            </li>
            <li class="home"><a href="#">home</a></li>
        </ul>
    </div>

