.header-main {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.border-bottom {
    border-bottom: 1px solid #e5e7ea !important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -10px;
}
.brand-wrap .logo, .navbar-brand .logo {
    margin-right: 7px;
    max-height: 34px;
    display: inline-block;
}
img {
    vertical-align: middle;
    border-style: none;
}


.search-header {
    border: 2px solid #ff6a00;
    border-radius: 0.55rem;
}
.w-100 {
    width: 100% !important;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-header .form-control, .search-header .custom-select {
    border-color: transparent;
}
.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.search-header select {
    -ms-flex-preferred-size: 150px !important;
    flex-basis: 150px !important;
    -webkit-box-flex: 0 !important;
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}
.border-right {
    border-right: 1px solid #e5e7ea !important;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group > .form-control + .form-control, .input-group > .form-control + .custom-select, .input-group > .form-control + .custom-file, .input-group > .form-control-plaintext + .form-control, .input-group > .form-control-plaintext + .custom-select, .input-group > .form-control-plaintext + .custom-file, .input-group > .custom-select + .form-control, .input-group > .custom-select + .custom-select, .input-group > .custom-select + .custom-file, .input-group > .custom-file + .form-control, .input-group > .custom-file + .custom-select, .input-group > .custom-file + .custom-file {
    margin-left: -1px;
}
.search-header .form-control, .search-header .custom-select {
    border-color: transparent;
}
.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.9rem + 2px);
    padding: 0.45rem 0.85rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.37rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-prepend, .input-group-append {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-prepend .btn, .input-group-append .btn {
    position: relative;
    z-index: 2;
}
.btn-primary {
    color: #fff;
    background-color: #ff6a00;
    border-color: #ff6a00;
}
.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}
.widget-header .widget-view {
    padding: 5px 7px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.widget-header a {
    color: #212529;
}
.widget-header .icon-area {
    font-size: 24px;
    display: inline-block;
    width: 36px;
    height: 30px;
    color: #969696;
}
.widget-header .icon-area .notify {
    position: absolute;
    top: 0px;
    right: 8%;
}
.notify {
    position: absolute;
    top: -4px;
    right: -10px;
    display: inline-block;
    padding: .25em .6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: 300;
    border-radius: 3rem;
    color: #fff;
    background-color: #fa3434;
}
.widget-header .text {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 1.2;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
/* nav */
.nav{
    margin: 0;
    padding: 0;
    background: #444;
}
.nav ul{
    display: inline-flex;
    list-style: none;
    background-color: #444;
    text-align: center;
    margin: 0;
    padding: 0;  
    z-index: 2;
}
.nav li{
    width: 150px;
    border: 1px;
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}
.nav a{
    text-decoration: none;
    color: #ff0000;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s;
  
}
.nav a:hover{
    background-color: #005f5f;
    
}
.nav a:active{
    background-color: #aaa;
    color: #444;
    cursor: default;
    
}

.nav li li {
    font-size: .8em;
}

.nav a{
    border-bottom: none;
}
.nav >ul>li{
    text-align: center;
}
.nav >ul>li>a{
    padding-left: 0;
}
.nav li ul{
    position: absolute;
    display: none;
    width: inherit;
}
.nav li:hover ul{
    display: block;
}

.nav li ul li{
    display: block;
}
/* nav */