<div class="row box1">
<div class="col-sm-1"></div>
<div class="col-sm-2">

    <div class="checkbox">
      <label><input type="checkbox" value="">AMD</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">NVIDIA</label>
    </div>

  </div>


  <div class="col-sm-3">
    <div class="form-group">
      <label for="secret">Series</label>
      <select id="secret" class="form-control">
        <option value="pet">Show all</option>
        <option value="teacher">Quadro M5000 8GB</option>
        <option value="car">รถคันแรกของคุณ?</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="secret">Brand</label>
      <select id="secret" class="form-control">
        <option value="pet">Show all</option>
        <option value="teacher">MSI</option>
        <option value="car">GALAX</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="secret">Brand</label>
      <select id="secret" class="form-control">
        <option value="pet">Show all</option>
        <option value="teacher">MSI</option>
        <option value="car">GALAX</option>
        <option value="car">GALAX</option>
        <option value="car">GALAX</option>
      </select>
    </div>
  </div>
</div>