<div class="sidenav">
    <ul>
        <li class="home"><a href="#">home</a></li>
        <li class="tutu"><a href="#">tutu</a></li>
        <li class="home"><a href="#">home</a></li>
        <li class="tutu"><a href="#">tutu</a></li>
        <li class="home"><a href="#">home</a></li>
        <li class="home"><a href="#">home</a></li>
        <li class="tutu"><a href="#">tutu</a></li>
        <li class="home"><a href="#">home</a></li>
        <li class="home"><a href="#">home</a></li>
        <li class="tutu"><a href="#">tutu</a></li>
        <li class="home"><a href="#">home</a></li>
    </ul>
</div>