<!--chaosserver-->
<div class="container">
  <h3>
    CHAOS SERVER
  </h3>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="container1">
      <div class="row rowhome">

        <div class="col-sm-3 cok" *ngFor="let Shopbycategory of Shopbycategorys ;let i = index">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
              <img src={{Shopbycategory.img}} alt="Lights" style="width:100%;height: 189px;">
              <div class="caption">

                <span>
                  <h1>
                    {{Shopbycategory.id}} - {{i}}
                  </h1>
                  <h2>
                    {{Shopbycategory.name}}
                  </h2>

                </span>

              </div>
            </a>
          </div>
        </div>





      </div>
    </div>
  </div>
</div>
<br>
<!--thorserver-->
<div class="container">
  <h3>
    CHAOS SERVER
  </h3>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="container1">
      <div class="row rowhome">

        <div class="col-sm-3 cok" *ngFor="let Shopbycategory of Shopbycategorys ;let i = index">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
              <img src={{Shopbycategory.img}} alt="Lights" style="width:100%;height: 189px;">
              <div class="caption">

                <span>
                  <h1>
                    {{Shopbycategory.id}} - {{i}}
                  </h1>
                  <h2>
                    {{Shopbycategory.name}}
                  </h2>

                </span>

              </div>
            </a>
          </div>
        </div>





      </div>
    </div>
  </div>
</div>
<br>
<!--lokiserver-->
<div class="container">
  <h3>
    CHAOS SERVER
  </h3>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="container1">
      <div class="row rowhome">

        <div class="col-sm-3 cok" *ngFor="let Shopbycategory of Shopbycategorys ;let i = index">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
              <img src={{Shopbycategory.img}} alt="Lights" style="width:100%;height: 189px;">
              <div class="title">
                <span>
                  {{Shopbycategory.id}} - {{i}}

                  {{Shopbycategory.name}}

                </span>

              </div>
              <div class="price">


                <div class="hp-mod-price-first-line">
                  <span class="currency">฿</span><span class="price">27.00</span>
                </div>

                <div class="hp-mod-price-second-line"><span class="hp-mod-price-text align-left">
                    <span class="currency">฿</span><span class="price">48.00</span>
                  </span>
                  <span class="hp-mod-discount align-left"> -44%</span>
                </div>

              </div>
            </a>
          </div>
        </div>





      </div>
    </div>
  </div>
</div>