.container1{
    width: 100%;
    padding-right: 0px;
    padding-left: 29px;
    margin-right: auto;
    margin-left: auto;
}
.rowhome{
    display: flex;
    flex-wrap: wrap;
    margin-right: -57px;
    margin-left: -15px;
}
.cok{
    
    padding-right: 5px;
    padding-left: 0px;
    max-width: 186px;
    transition: .3s ease-in-out;
    
    
}
.thumbnail{
    background: #ffffff;
}
.thumbnail:hover{
    
    border: 1px solid #e7e8ec;
    text-decoration: none;
    
}
.title{
position: relative;
font-size: 14px;
height: 36px;
line-height: 18px;
color: #212121;
white-space: pre-wrap;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.hp-mod-price-text {
    text-decoration: line-through;
}