<div><h1 style="text-align: center">Register</h1>
<div style="width: 50%; margin: 0 auto;">
    <input mdInput placeholder="E-mail" type="email" name="email" [(ngModel)]="inputEmail">
    <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="inputPassword">
    <input mdInput placeholder="Display name" type="text" name="displayName" [(ngModel)]="inputDisplayName">
  <button md-raised-button style="display: block; width: 100%;" (click)="signup()">Register</button>
</div>
</div>