<div><h1 style="text-align: center">Register</h1>
<div style="width: 50%; margin: 0 auto;">
    <input mdInput placeholder="E-mail" type="email" name="email" [(ngModel)]="inputEmail">
    <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="inputPassword">
    <input mdInput placeholder="Display name" type="text" name="displayName" [(ngModel)]="inputDisplayName">
  <button type="button" class="btn btn-success" style="display: block; width: 100%;" (click)="signup()">add</button>
  
</div>
</div>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>