<app-header></app-header>
<br>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav">
            <h4 class="menu">MENU</h4>

            <app-leftbody></app-leftbody>


          </div>


          <div class="col-sm-10">

            
              <app-headbody></app-headbody>

             



           

            <hr>


            
             
              <app-body></app-body>


            



            <br>






          </div>
        </div>

        <footer class="container-fluid">
          <p>Footer Text</p>
        </footer>

      </div>
    </div>
  </div>

</div>