.hamburger{
    position: absolute;
    margin: 50px;
    z-index: 2;
    cursor: pointer;
}
.line{
    width: 50px;
    height: 6px;
    background: #bcad90;
    margin-bottom: 5px;
}
.menu{
    width: 350px;
    height: 100%;
    background: #bcad90;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left .1s;   
}
.menu-item:first-child{
    margin-top: 180px;
}
.menu--open{
    left: 0;
}
.menu-item{
    color: #fff;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
}
.menu-item:hover{
    background: #91966e;
    cursor: pointer;
}